flows/flows_rpHogRemote4.json
[{"id":"89041ada.09ff08","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"62759eb3.2a531","type":"rpi-gpio out","z":"89041ada.09ff08","name":"","pin":"8","set":true,"level":"0","freq":"","out":"out","x":1000,"y":80,"wires":[]},{"id":"676670a8.ebf1e","type":"inject","z":"89041ada.09ff08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":310,"y":80,"wires":[["ca98d5d2.3067f8","e55cdb74.e2e6e8"]]},{"id":"6d6ff435.dde67c","type":"rpi-gpio in","z":"89041ada.09ff08","name":"","pin":"11","intype":"down","debounce":"100","read":false,"x":140,"y":620,"wires":[["67cc240b.49131c","2785efc6.1c5dd"]]},{"id":"3f6ff056.6970d","type":"rpi-gpio in","z":"89041ada.09ff08","name":"","pin":"7","intype":"down","debounce":"100","read":false,"x":970,"y":620,"wires":[["11c84519.36799b","b5ab3d20.e7ba5"]]},{"id":"3f205fa8.0a1bd","type":"rpi-gpio in","z":"89041ada.09ff08","name":"","pin":"13","intype":"down","debounce":"100","read":false,"x":140,"y":700,"wires":[["734af604.d29968","685a7626.b9b268"]]},{"id":"a726a11a.d783e","type":"rpi-gpio in","z":"89041ada.09ff08","name":"","pin":"15","intype":"down","debounce":"100","read":false,"x":980,"y":700,"wires":[["ae6b94a6.4ce638","b3499165.3d713"]]},{"id":"914e1ac4.ad8238","type":"rpi-gpio out","z":"89041ada.09ff08","name":"","pin":"10","set":true,"level":"0","freq":"","out":"out","x":820,"y":220,"wires":[]},{"id":"479b96e5.fb6d78","type":"inject","z":"89041ada.09ff08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":220,"wires":[["e110948d.282688"]]},{"id":"1e04c9ac.1babc6","type":"comment","z":"89041ada.09ff08","name":"Init","info":"Init States","x":130,"y":80,"wires":[]},{"id":"b1818a46.ed8688","type":"rpi-gpio out","z":"89041ada.09ff08","name":"","pin":"10","set":true,"level":"0","freq":"","out":"out","x":1000,"y":140,"wires":[]},{"id":"ca98d5d2.3067f8","type":"function","z":"89041ada.09ff08","name":"Init Activity","func":"flow.set(\"activity\", 0);\nmsg.payload = flow.get(\"activity\");\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":140,"wires":[["b1818a46.ed8688"]]},{"id":"e55cdb74.e2e6e8","type":"function","z":"89041ada.09ff08","name":"Init Listening","func":"flow.set(\"listening\", 1);\nmsg.payload = flow.get(\"listening\");\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":80,"wires":[["62759eb3.2a531"]]},{"id":"e110948d.282688","type":"function","z":"89041ada.09ff08","name":"Toggle Activity","func":"flow.set(\"activity\", !flow.get(\"activity\"))\nmsg.payload = flow.get(\"activity\");\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":220,"wires":[["914e1ac4.ad8238"]]},{"id":"fe0a1064.6b62f","type":"comment","z":"89041ada.09ff08","name":"Toggle Act","info":"Toggle the Activity State\n","x":140,"y":220,"wires":[]},{"id":"377bfc3a.562a34","type":"rpi-gpio in","z":"89041ada.09ff08","name":"","pin":"12","intype":"down","debounce":"100","read":false,"x":140,"y":780,"wires":[["dc8dd11a.7e839","fb3021e2.cc8f"]]},{"id":"9e49e4d1.d6bb98","type":"rpi-gpio in","z":"89041ada.09ff08","name":"","pin":"16","intype":"down","debounce":"100","read":false,"x":980,"y":780,"wires":[["44e7af96.db049","9b17e8bd.93a678"]]},{"id":"eb05b484.84ebe8","type":"rpi-gpio in","z":"89041ada.09ff08","name":"","pin":"18","intype":"down","debounce":"100","read":false,"x":140,"y":860,"wires":[["f8687915.48f638","23f90531.0278ea"]]},{"id":"6c06d433.29771c","type":"rpi-gpio in","z":"89041ada.09ff08","name":"","pin":"22","intype":"down","debounce":"100","read":false,"x":980,"y":860,"wires":[["f190c998.0c9bf8","ffa7205a.95e06"]]},{"id":"cbe6b499.ff48a8","type":"rpi-gpio in","z":"89041ada.09ff08","name":"","pin":"29","intype":"down","debounce":"100","read":false,"x":140,"y":940,"wires":[["1b088150.30c5ff","8806a260.b30b3"]]},{"id":"ca07d6dc.05c388","type":"rpi-gpio in","z":"89041ada.09ff08","name":"","pin":"31","intype":"down","debounce":"100","read":false,"x":980,"y":940,"wires":[["c18dee8c.f30b2","3de283a8.69c2fc"]]},{"id":"29258a52.60ac16","type":"rpi-gpio in","z":"89041ada.09ff08","name":"","pin":"33","intype":"down","debounce":"100","read":false,"x":140,"y":1020,"wires":[["bb2b1da9.ebc0a","13f5318a.60fd3e"]]},{"id":"5c6e557f.3c827c","type":"rpi-gpio in","z":"89041ada.09ff08","name":"","pin":"35","intype":"down","debounce":"100","read":false,"x":980,"y":1020,"wires":[["f6284979.577c98","2e29b954.04f356"]]},{"id":"13fffc80.2c5014","type":"debug","z":"89041ada.09ff08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":620,"wires":[]},{"id":"e14cb4b1.465c48","type":"function","z":"89041ada.09ff08","name":"Start Activity","func":"flow.set(\"activity\", 1);\nmsg.payload = flow.get(\"activity\");\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["914e1ac4.ad8238"]]},{"id":"d0160a7b.ed7da8","type":"function","z":"89041ada.09ff08","name":"Stop Activity","func":"flow.set(\"activity\", 0);\nmsg.payload = flow.get(\"activity\");\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":340,"wires":[["914e1ac4.ad8238"]]},{"id":"5f702da4.7f8664","type":"link in","z":"89041ada.09ff08","name":"Start Activity","links":["11c84519.36799b","67cc240b.49131c","734af604.d29968","dc8dd11a.7e839","f8687915.48f638","1b088150.30c5ff","bb2b1da9.ebc0a","ae6b94a6.4ce638","44e7af96.db049","f190c998.0c9bf8","c18dee8c.f30b2","f6284979.577c98"],"x":335,"y":280,"wires":[["e14cb4b1.465c48"]]},{"id":"87d69cd4.6a222","type":"link in","z":"89041ada.09ff08","name":"Stop Activity","links":["52dc4e3.baef4b","85c6fd56.3e83e","877e5b39.562eb8","314af62e.bcdf6a","90b9fa6.2c10e08","b5a1974e.ad6be8","53cc1a3e.faa1c4","ea0053ee.5ab0d","1912818e.ac406e","80fc251e.169bb8","b189d4d7.4b2358","46d1b7e6.8f0658"],"x":335,"y":340,"wires":[["d0160a7b.ed7da8"]]},{"id":"11c84519.36799b","type":"link out","z":"89041ada.09ff08","name":"","links":["5f702da4.7f8664"],"x":1115,"y":580,"wires":[]},{"id":"b5ab3d20.e7ba5","type":"delay","z":"89041ada.09ff08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1200,"y":620,"wires":[["13fffc80.2c5014","52dc4e3.baef4b"]]},{"id":"52dc4e3.baef4b","type":"link out","z":"89041ada.09ff08","name":"","links":["87d69cd4.6a222"],"x":1335,"y":580,"wires":[]},{"id":"f9011ed6.98bac","type":"debug","z":"89041ada.09ff08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":620,"wires":[]},{"id":"67cc240b.49131c","type":"link out","z":"89041ada.09ff08","name":"","links":["5f702da4.7f8664"],"x":315,"y":580,"wires":[]},{"id":"85c6fd56.3e83e","type":"link out","z":"89041ada.09ff08","name":"","links":["87d69cd4.6a222"],"x":535,"y":580,"wires":[]},{"id":"801bbea.557d74","type":"debug","z":"89041ada.09ff08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":700,"wires":[]},{"id":"734af604.d29968","type":"link out","z":"89041ada.09ff08","name":"","links":["5f702da4.7f8664"],"x":295,"y":660,"wires":[]},{"id":"685a7626.b9b268","type":"delay","z":"89041ada.09ff08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":700,"wires":[["801bbea.557d74","877e5b39.562eb8"]]},{"id":"877e5b39.562eb8","type":"link out","z":"89041ada.09ff08","name":"","links":["87d69cd4.6a222"],"x":515,"y":660,"wires":[]},{"id":"d6de2a74.1e0388","type":"debug","z":"89041ada.09ff08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":780,"wires":[]},{"id":"dc8dd11a.7e839","type":"link out","z":"89041ada.09ff08","name":"","links":["5f702da4.7f8664"],"x":295,"y":740,"wires":[]},{"id":"fb3021e2.cc8f","type":"delay","z":"89041ada.09ff08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":780,"wires":[["d6de2a74.1e0388","314af62e.bcdf6a"]]},{"id":"314af62e.bcdf6a","type":"link out","z":"89041ada.09ff08","name":"","links":["87d69cd4.6a222"],"x":515,"y":740,"wires":[]},{"id":"43821914.add5b8","type":"debug","z":"89041ada.09ff08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":860,"wires":[]},{"id":"f8687915.48f638","type":"link out","z":"89041ada.09ff08","name":"","links":["5f702da4.7f8664"],"x":295,"y":820,"wires":[]},{"id":"23f90531.0278ea","type":"delay","z":"89041ada.09ff08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":860,"wires":[["43821914.add5b8","90b9fa6.2c10e08"]]},{"id":"90b9fa6.2c10e08","type":"link out","z":"89041ada.09ff08","name":"","links":["87d69cd4.6a222"],"x":515,"y":820,"wires":[]},{"id":"d549eff3.84b9e","type":"debug","z":"89041ada.09ff08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":940,"wires":[]},{"id":"1b088150.30c5ff","type":"link out","z":"89041ada.09ff08","name":"","links":["5f702da4.7f8664"],"x":295,"y":900,"wires":[]},{"id":"b5a1974e.ad6be8","type":"link out","z":"89041ada.09ff08","name":"","links":["87d69cd4.6a222"],"x":515,"y":900,"wires":[]},{"id":"da59c8cc.e6d6a8","type":"debug","z":"89041ada.09ff08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":1020,"wires":[]},{"id":"bb2b1da9.ebc0a","type":"link out","z":"89041ada.09ff08","name":"","links":["5f702da4.7f8664"],"x":295,"y":980,"wires":[]},{"id":"53cc1a3e.faa1c4","type":"link out","z":"89041ada.09ff08","name":"","links":["87d69cd4.6a222"],"x":515,"y":980,"wires":[]},{"id":"af5a5816.fcb3c8","type":"debug","z":"89041ada.09ff08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":700,"wires":[]},{"id":"ae6b94a6.4ce638","type":"link out","z":"89041ada.09ff08","name":"","links":["5f702da4.7f8664"],"x":1115,"y":660,"wires":[]},{"id":"b3499165.3d713","type":"delay","z":"89041ada.09ff08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1200,"y":700,"wires":[["af5a5816.fcb3c8","ea0053ee.5ab0d"]]},{"id":"ea0053ee.5ab0d","type":"link out","z":"89041ada.09ff08","name":"","links":["87d69cd4.6a222"],"x":1335,"y":660,"wires":[]},{"id":"81677acc.4f1818","type":"debug","z":"89041ada.09ff08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":780,"wires":[]},{"id":"44e7af96.db049","type":"link out","z":"89041ada.09ff08","name":"","links":["5f702da4.7f8664"],"x":1115,"y":740,"wires":[]},{"id":"9b17e8bd.93a678","type":"delay","z":"89041ada.09ff08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1200,"y":780,"wires":[["81677acc.4f1818","1912818e.ac406e"]]},{"id":"1912818e.ac406e","type":"link out","z":"89041ada.09ff08","name":"","links":["87d69cd4.6a222"],"x":1335,"y":740,"wires":[]},{"id":"237d4343.cd599c","type":"debug","z":"89041ada.09ff08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":860,"wires":[]},{"id":"f190c998.0c9bf8","type":"link out","z":"89041ada.09ff08","name":"","links":["5f702da4.7f8664"],"x":1115,"y":820,"wires":[]},{"id":"ffa7205a.95e06","type":"delay","z":"89041ada.09ff08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1200,"y":860,"wires":[["237d4343.cd599c","80fc251e.169bb8"]]},{"id":"80fc251e.169bb8","type":"link out","z":"89041ada.09ff08","name":"","links":["87d69cd4.6a222"],"x":1335,"y":820,"wires":[]},{"id":"72bc4f1.dad0ab","type":"debug","z":"89041ada.09ff08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":940,"wires":[]},{"id":"c18dee8c.f30b2","type":"link out","z":"89041ada.09ff08","name":"","links":["5f702da4.7f8664"],"x":1115,"y":900,"wires":[]},{"id":"b189d4d7.4b2358","type":"link out","z":"89041ada.09ff08","name":"","links":["87d69cd4.6a222"],"x":1335,"y":900,"wires":[]},{"id":"fb076aa3.eecdc8","type":"debug","z":"89041ada.09ff08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":1020,"wires":[]},{"id":"f6284979.577c98","type":"link out","z":"89041ada.09ff08","name":"","links":["5f702da4.7f8664"],"x":1115,"y":980,"wires":[]},{"id":"46d1b7e6.8f0658","type":"link out","z":"89041ada.09ff08","name":"","links":["87d69cd4.6a222"],"x":1335,"y":980,"wires":[]},{"id":"2785efc6.1c5dd","type":"http request","z":"89041ada.09ff08","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://10.1.10.36:8123/api/webhook/ToggleOfficeLights","tls":"","proxy":"","authType":"basic","x":390,"y":620,"wires":[["f9011ed6.98bac","85c6fd56.3e83e"]]},{"id":"13f5318a.60fd3e","type":"http request","z":"89041ada.09ff08","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://10.1.10.36:8123/api/webhook/KitchenLightsOff","tls":"","proxy":"","authType":"basic","x":370,"y":1020,"wires":[["da59c8cc.e6d6a8","53cc1a3e.faa1c4"]]},{"id":"8806a260.b30b3","type":"http request","z":"89041ada.09ff08","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://10.1.10.36:8123/api/webhook/KitchenLightsOn","tls":"","proxy":"","authType":"basic","x":370,"y":940,"wires":[["b5a1974e.ad6be8","d549eff3.84b9e"]]},{"id":"3de283a8.69c2fc","type":"http request","z":"89041ada.09ff08","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://10.1.10.36:8123/api/webhook/LivingRoomLightsOn","tls":"","proxy":"","authType":"basic","x":1210,"y":940,"wires":[["72bc4f1.dad0ab","b189d4d7.4b2358"]]},{"id":"2e29b954.04f356","type":"http request","z":"89041ada.09ff08","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://10.1.10.36:8123/api/webhook/LivingRoomLightsOff","tls":"","proxy":"","authType":"basic","x":1210,"y":1020,"wires":[["46d1b7e6.8f0658","fb076aa3.eecdc8"]]}]